<div #ekarty style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section class="container">
  <div class="d-block">
    <div class="title">
      <h1>eKarty</h1>
    </div>
    <div class="text-center">
      <p>
        To autorskie rozwiązanie zastępujące wszelkiego rodzaju plastikowe karty autoryzacyjne.
        Urządzenie montuje się bezpośrednio na czytniku kart.
        Po zbliżeniu smartfona do czytnika rozpoczyna się proces autoryzacji.
        Rozwiązanie technologiczne zgłoszone do Urzędu Patentowego.
      </p>
    </div>
  </div>
  <div class="parallax" data-stellar-background-ratio="0.4"><p style="transform: translate(0, 500%);">Tu będzie zdjęcie</p></div>
</section>
<div #system style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section class="container next">
  <div class="d-block">
    <div class="title">
      <h1>System</h1>
    </div>
    <div class="text-center">
      <p>
        Tu znajdzie się jakiś opis.
      </p>
    </div>
  </div>
  <div class="parallax" data-stellar-background-ratio="0.4"><p style="transform: translate(0, 500%);">Tu będzie zdjęcie</p></div>
</section>
