<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a routerLink="/glowna" class="standard-logo"><img src="../../assets/images/cos.jpg" alt="Angular"></a>
    <a class="navbar-toggler navbar-toggler-right" (click)="isCollapse = !isCollapse" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </a>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="glowna/cos" routerLinkActive="active" >Cos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="glowna/o_nas" routerLinkActive="active">O nas</a>
        </li>
        <li class="nav-item" id="products">
            <a  class="nav-link js-scroll-trigger" (mouseover)="visible()" (mouseleave)="hidden()">Produkty</a>
            <ul class="sub-nav" [@nav]="state" (mouseover)="visible()" (mouseleave)="hidden()">
              <li routerLink="count">Count</li>
              <li routerLink="inf">Inf</li>
              <li routerLink="wild">Wild</li>
              <li routerLink="software">Software</li>
              <li routerLink="sensory">Sensory</li>
              <li routerLink="ven">Ven</li>
              <li routerLink="ware">Ware</li>
            </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/kariera" routerLinkActive="active">Kariera</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/zapytania_ofertowe" routerLinkActive="active">OFERTA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="glowna/kontakt" routerLinkActive="active">Kontakt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger lang">En</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger jap-lang">日本語</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="collapse-mobile" id="navbar-mobile" [collapse]="isCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" routerLink="glowna/cos" (click)="isCollapse = !isCollapse">Cos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" routerLink="glowna/o_nas" (click)="isCollapse = !isCollapse">O nas</a>
      </li>
      <li class="nav-item" id="products">
        <a  class="nav-link js-scroll-trigger" (click)="visible_subnav()">Produkty</a>
        <ul class="sub-nav" [@nav]="state">
          <li routerLink="count" (click)="isCollapse = !isCollapse; visible_subnav()">count</li>
          <li routerLink="inf" (click)="isCollapse = !isCollapse; visible_subnav()">Inf</li>
          <li routerLink="wild" (click)="isCollapse = !isCollapse; visible_subnav()">Wild</li>
          <li routerLink="software" (click)="isCollapse = !isCollapse; visible_subnav()">Software</li>
          <li routerLink="sensory" (click)="isCollapse = !isCollapse; visible_subnav()">Sensory</li>
          <li routerLink="ven" (click)="isCollapse = !isCollapse; visible_subnav()">Ven</li>
          <li routerLink="ware" (click)="isCollapse = !isCollapse; visible_subnav()">Ware</li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" routerLink="/kariera" (click)="isCollapse = !isCollapse">Kariera</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" routerLink="/zapytania_ofertowe" (click)="isCollapse = !isCollapse">Oferta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" routerLink="glowna/kontakt" (click)="isCollapse = !isCollapse">Kontakt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger lang" (click)="isCollapse = !isCollapse">En</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger jap-lang" (click)="isCollapse = !isCollapse">日本語</a>
      </li>
    </ul>
  </div>
</nav>
<nav class="sec-navbar" id="count" *ngIf="Is_display[0]">
  <h2 class="h-nav">count</h2>
  <ul class="sec-nav-ul">
    <li>
      <p routerLink="count/cos">Cos</p>
    </li>
    <li>
      <p routerLink="count/zamowienie">Zamówienie</p>
    </li>
    <li>
      <p routerLink="count/faq">FAQ</p>
    </li>
    <li>
      <p routerLink="count/logowanie">Logowanie</p>
    </li>
  </ul>
</nav>
<nav class="sec-navbar" id="Inf" *ngIf="Is_display[1]">
  <h2 class="h-nav">Inf</h2>
  <ul class="sec-nav-ul">
    <li>
      <p routerLink="inf/cos">Cos</p>
    </li>
    <li>
      <p routerLink="inf/inf">INF</p>
    </li>
    <li style="float: right">
      <p routerLink="inf/lorem">LOREM</p>
    </li>
  </ul>
</nav>
<nav class="sec-navbar" id="Wild" *ngIf="Is_display[2]">
  <h2 class="h-nav">Wild</h2>
  <ul class="sec-nav-ul">
    <li>
      <p routerLink="wild/nemo">Nemo</p>
    </li>
    <li>
      <p routerLink="wild/barracuda">Barracuda</p>
    </li>
    <li>
      <p routerLink="wild/blue">Blue</p>
    </li>
  </ul>
</nav>
<nav class="sec-navbar" id="Software" *ngIf="Is_display[3]">
  <h2 class="h-nav">Software</h2>
  <ul class="sec-nav-ul">
    <li>
      <p routerLink="software/soft">SOFT</p>
    </li>
    <li>
      <p routerLink="software/pol">Poland</p>
    </li>
    <li>
      <p routerLink="software/radio">Radio</p>
    </li>
  </ul>
</nav>
<nav class="sec-navbar" id="Sensory" *ngIf="Is_display[4]">
  <h2 class="h-nav">Sensory</h2>
  <ul class="sec-nav-ul">
    <li>
      <p routerLink="sensory/chil">Chil</p>
    </li>
    <li>
      <p routerLink="sensory/pin">PIN</p>
    </li>
    <li>
      <p routerLink="sensory/sensor">Sensor</p>
    </li>
  </ul>
</nav>
<nav class="sec-navbar" id="Ven" *ngIf="Is_display[5]">
  <h2 class="h-nav">Ven</h2>
  <ul class="sec-nav-ul">
    <li>
      <p routerLink="ven/karty">Karty</p>
    </li>
    <li>
      <p routerLink="ven/system">System</p>
    </li>
  </ul>
</nav>
<nav class="sec-navbar" id="Ware" *ngIf="Is_display[6]">
  <h2 class="h-nav">Ware</h2>
  <ul class="sec-nav-ul">
    <li>
      <p routerLink="ware/cos">Cos</p>
    </li>
    <li>
      <p routerLink="ware/integrator">Integrator</p>
    </li>
    <li>
      <p routerLink="ware/bora">Bora</p>
    </li>
  </ul>
</nav>
