<section id="footer">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h4  translate class="section-heading">Kontakt</h4>
        <p translate class="lead">99-999 Warszawa
          <br>
          ul. COS 99
          <br>
          tel. 999 999 999
          <br>
          <a href="mailto: cos@cos.com">cos@cos.com</a>
        </p>
      </div>
    </div>
  </div>
  <div id="copyrights">
    <div translate class="container text-center">
      Lorem ipsum dolor sit amet, consectetur adipiscing.
    </div>
  </div>
</section>
