<div #lora style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section id="lora-sec" class="container">
  <div class="d-block">
    <div class="title">
      <h1>Bora</h1>
    </div>
    <div class="text-center">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
  <div class="parallax lora-parallax" data-stellar-background-ratio="0.4"><p style="transform: translate(0, 500%);">Tu będzie zdjęcie</p></div>
</section>
<div #integrator style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section id="integ-sec" class="container next">
  <div class="d-block">
    <div class="title">
      <h1>Integrator</h1>
    </div>
    <div class="text-center">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
  <div class="parallax integ-parallax" data-stellar-background-ratio="0.4"><p style="transform: translate(0, 500%);">Tu będzie zdjęcie</p></div>
</section>
<div #hotmo style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section id="hotmo-sec" class="container next">
  <div class="d-block">
    <div class="title">
      <h1>Hotmo</h1>
    </div>
    <div class="text-center">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
  <div class="parallax hotmo-parallax" data-stellar-background-ratio="0.4"><p style="transform: translate(0, 500%);">Tu będzie zdjęcie</p></div>
</section>
