<div #lora style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section class="container">
  <div class="d-block">
    <div class="title">
      <h1>LoRa Advanced</h1>
    </div>
    <div class="text-center">
      <p>
        Najnowocześniejszy i najbardziej zaawansowany technicznie system urządzeń nadawczo-odbiorczych,
        przeznaczonych do zbierania informacji bezpośrednio z sensorów lub pośrednio z integratorów BLE.
        Obecnie funkcjonuje on na terenie Gdynii i Warszawy.
        Jego główną cechą jest wysoka sprawność i jakość transferowanych danych.
      </p>
    </div>
  </div>
  <div class="parallax" data-stellar-background-ratio="0.4"><p style="transform: translate(0, 500%);">Tu będzie zdjęcie</p></div>
</section>
<div #integrator style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section class="container next">
  <div class="d-block">
    <div class="title">
      <h1>Integrator</h1>
    </div>
    <div class="text-center">
      <p>
        To jedno z urządzeń, których zadaniem jest zbieranie danych z sensorów pracujących na BLE i wysyłanie ich przy pomocy NB-IoT lub LoRa Advanced.
        Dzięki zastosowaniu specjalistycznej technologii, urządzenie jest w stanie wysyłać informacje z miejsc położonych
        poniżej gruntu lub/i otoczonych grubymi ścianami wykonanymi z betonu.
      </p>
    </div>
  </div>
  <div class="parallax" data-stellar-background-ratio="0.4"><p style="transform: translate(0, 500%);">Tu będzie zdjęcie</p></div>
</section>
<div #hotmo style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section class="container next">
  <div class="d-block">
    <div class="title">
      <h1>Hotmo</h1>
    </div>
    <div class="text-center">
      <p>
        System do zbierania danych z odczytów liczników energii cieplnej, elektrycznej lub zużycia wody.
        Czytniki używane w systemie Hotmo wykorzystują łączność bezprzewodową: BLE, LoRa Advanced.
        Urządzenia zarządzane są z poziomu platformy iSensor.pl
      </p>
    </div>
  </div>
  <div class="parallax" data-stellar-background-ratio="0.4"><p style="transform: translate(0, 500%);">Tu będzie zdjęcie</p></div>
</section>
