<div #inf style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section id="inf-sec" class="container">
  <div class="d-block">
    <div class="title">
      <h1>Inf</h1>
    </div>
    <div class="text-center">
      <p>
        orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      </p>
    </div>
  </div>
  <div class="inf-parallax parallax" data-stellar-background-ratio="0.4"></div>
</section>
<div #beacon style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section id="beac-sec" class="next container">
  <div class="d-block">
    <div class="title">
      <h1>Cos</h1>
    </div>
    <div class="text-center">
      <p>
        orem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
    </div>
  </div>
  <div class="beac-parallax parallax" data-stellar-background-ratio="0.4"></div>
</section>
<div #1609 style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section id="1609-sec" class="next container">
  <div class="d-block">
    <div class="title">
      <h1>Lorem</h1>
    </div>
    <div class="text-center">
      <p>
        orem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      </p>
    </div>
  </div>
  <div class="parallax 1609-parallax" data-stellar-background-ratio="0.4"><p style="transform: translate(0, 500%);">Tu będzie zdjęcie</p></div>
</section>
