<div #inf style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section class="container">
  <div class="d-block">
    <div class="title">
      <h1>Inf.pl</h1>
    </div>
    <div class="text-center">
      <p>
        Urządzenia są zarządzane z poziomu prostej aplikacji mobilnej lub platformy www.inf.pl. Każdy może w bardzo prosty sposób uruchomić własnego beacona. Wystarczy wprowadzić kod urządzenia, określenie odległości aktywacji oraz podać rodzaj akcji wykonywanej na smartfonie.
        Aplikacja działa na terenie Polski, Węgier i Japonii.
      </p>
    </div>
  </div>
  <div class="inf-parallax parallax" data-stellar-background-ratio="0.4"></div>
</section>
<div #beacon style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section class="next container">
  <div class="d-block">
    <div class="title">
      <h1>yBeacon</h1>
    </div>
    <div class="text-center">
      <p>
        To nasze autorskie urządzenie integrujące w sobie dowolne formaty beaconów (np.iBeacon, Eddystone lub yBeacon). Wysoka wydajność energetyczna pozwala na działanie przez co najmniej dwa lata. Możliwości urządzenia znacznie wzrastają dzięki zastosowaniu NFC.      </p>
    </div>
  </div>
  <div class="beac-parallax parallax" data-stellar-background-ratio="0.4"></div>
</section>
<div #1609 style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section class="next container">
  <div class="d-block">
    <div class="title">
      <h1>Yoberi 1609</h1>
    </div>
    <div class="text-center">
      <p>
        Aplikacja systemowa umożliwiająca użytkownikom zarządzanie elementami systemu operacyjnego smartfona.
        Jest ona przeznaczona do pracy w środowisku urządzeń internetu rzeczy.
        Mechanizmy zastosowane wewnątrz aplikacji są wdrażane w innych oprogramowaniach IoT.
      </p>
    </div>
  </div>
  <div class="parallax" data-stellar-background-ratio="0.4"><p style="transform: translate(0, 500%);">Tu będzie zdjęcie</p></div>
</section>
