<div #counter style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section class="container">
  <div class="d-block">
    <div class="text-center">
      <div class="title">
        <svg>
          <rect x="5" y="5" rx="10" ry="10" width="40" height="80">
          </rect>
          <circle cx="25" cy="45" r="8">
          </circle>
        </svg>
        <h1>MUCOUNT IY7007</h1>
      </div>
    </div>
    <div class="text-center">
      <p>
        muCount iy7007 to zupełnie nowy pomysł na policzenie osób przebywających w pomieszczeniu. Szybko zmieniającą się rzeczywistość wymusza podnoszenie jakości dostarczanych danych.
      </p>
      <button class="btn btn-link">Pobierz Specyfikację</button>
    </div>
    <div class="div-img">
      <div style="width: 33%; padding: 0 5%" id="left">
        <div style="margin-top: 10%">
          <h3>PROSTY MONTAŻ</h3>
          <p class="small-right">
            Wystarczy zamontować urządzenie w miejscu, w którym ma być realizowany pomiar, podłączyć znajdujący się w komplecie zasilacz do prądu i ... gotowe!
          </p>
        </div>
        <div style="margin-top: 20%; position: relative">
          <h3>EFEKTYWNE LICZENIE</h3>
          <p class="small-right">
            Urządzenie pozwala liczyć osoby w zasięgu 6 metrów. Pozwala eliminować z wyniku liczenia dzieci i wózki. Możliwe jest definiowanie takich przypadków jak przejścia "niepewne" lub przejścia "nietypowe".
          </p>
        </div>
      </div>
      <div style="margin: 0 auto" id="center">
        <img src="../../../assets/images/mucount.jpg" style="max-width: 100%">
      </div>
      <div style="width: 33%; padding: 0 5%" id="right">
        <div style="margin-top: 10%">
          <h3 style="text-align: left">NIEZAWODNOŚĆ</h3>
          <p class="small-left">
            Wbudowana pamięć umożliwia zapis danych w sytuacji braku połączenia z siecią. W momencie ponownego podłączenia wszystkie dane są synchronizowane.
          </p>
        </div>
        <div style="margin-top: 20%">
          <h3 style="text-align: left">DOSTĘPNOŚĆ 24/7</h3>
          <p class="small-left">
            Automatyczna synchronizacja danych pomiędzy urządzeniem i aplikacją www umożliwia swobodny dostęp do statystyk 24 godziny na dobę przez 7 dni w tygodniu.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="band-parallax parallax" data-stellar-background-ratio="0.4"></div>
  <div #login style="height: 110px; transform: translateY(-50%); visibility: hidden"></div>
  <div class="d-inline-flex">
    <div style="width: 50%">
      <img src="../../../assets/images/ipad-isensor.png" style="max-width: 100%">
    </div>
    <div id="inline-login">
      <h1 style="color: #1b1e21 ">APLIKACJA WWW</h1>
      <h2>Bezpieczny dom dla Twoich danych.</h2>
      <p>
        Zadaniem aplikacji jest zbieranie w bazie danych informacji dotyczących natężenia ruchu klientów w danych okresach czasowych. Aplikacja generuje raporty, które mogą być podstawą do optymalizacji czasu pracy oraz liczby zatrudnianych osób. Aplikacja dostępna jest z poziomu przeglądarki internetowej (nie wymaga instalacji) i działa na każdym urządzeniu z dostępem do internetu.
      </p>
      <p>
        Konto demonstracyjne: demo / demo123
      </p>
      <a class="fa-link" href="https://admin.isensor.pl" target="_blank">Zaloguj</a>
    </div>
  </div>
</section>
<div #order style="height: 110px; transform: translateY(-110%); visibility: hidden; position: absolute"></div>
<section class="content">
  <div class="service-box">
    <div style="margin: 20px">
      <h1 id="big">1800 </h1>
      <span id="currency">pln</span>
      <span id="extra">jednorazowo (+ vat 23%)</span>
    </div>
    <div class="box-text">
      <p>Licznik <b>muCount iy7007</b></p>
      <p>Moduł komunikacyjny <b>WiFi</b></p>
      <p>Dostęp do <b>aplikacji</b> www</p>
      <p><b>Abonament</b> 90 PLN/rok</p>
      <a class="fa-link form-link">Zamów</a>
    </div>
  </div>
</section>
<div #FAQ style="height: 110px; transform: translateY(-110%); visibility: hidden; position: absolute"></div>
<section class="content">
  <div>
    <h1 style="color: #2e3133">
      NAJCZĘŚCIEJ ZADAWANE PYTANIA
    </h1>
    <h2 style="font-weight: 100; opacity: 0.6">
      Jeżeli nie znajdziesz odpowiedzi, skontaktuj się z nami
    </h2>
  </div>
  <hr>
  <div class="text-center">
    <h4>
      Jaka jest zasada działania licznika?
    </h4>
    <p>
      Pomiar polega na liczeniu wszystkich osób, które przecięły linię wyznaczoną przez zespół wiązek. Nasze rozwiązanie do poprawnej pracy wykorzystuje tylko jedno urządzenie liczące, dzięki czemu urządzenie można łatwo wkomponować w przestrzeń pomieszczenia. Głównym detektorem jest matryca umożliwiająca stworzenie cyfrowego obrazu, który po zapisaniu nadaje się do analizy. Przy pomocy dedykowanego algorytmu tworzony jest wynik w postaci liczby osób wchodzących do pomieszczenia lub przechodzących w pobliżu muCount'u.
    </p>
    <h4>
      Na czym polega montaż licznika?
    </h4>
    <p>
      Licznik należy przymocować do ściany za pomocą dołączonego uchwytu. Aby rozpocząć naliczanie, wystarczy podłączyć urządzenie do prądu za pomocą dołączonego zasilacza.
    </p>
    <h4>
      Jaka jest maksymalna szerokość wejścia do punktu?
    </h4>
    <p>
      Licznik pracuje poprawnie przy szerokości wejścia w przedziale 0,5 m - 6,0 m.
    </p>
    <h4>
      Co znajduje się w opakowaniu?
    </h4>
    <p>
      W opakowaniu w pakiecie podstawowym znajduje się licznik, uchwyt montażowy, zasilacz, przedłużacz (5m), wkręty G-K, taśma montażowa oraz instrukcja montażu.
      W wersji Premium WiFi znajduje się dodatkowo specjalny moduł komunikacyjny.
    </p>
  </div>
  <div>

  </div>
</section>
