<section id="content" style="margin-bottom: 0px;">
  <!-- STREFA -->
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="product_content nobottommargin clearfix">
        <a class="anchor-product-page" id="kariera"></a>

        <div class="no-gap work-needs" > <strong>LOREM:</strong></div>
        <div class="offer-rich-text w-richtext" align="left">
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
          </ul>


        </div>
        <div class="work-needs"> <strong>LOREM</strong></div>
        <div class="offer-rich-text w-richtext" align="left">
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
          </ul>

        </div>
        <div class="work-offert"><strong>LOREM</strong></div>
        <div class="offer-rich-text w-richtext" align="left">
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
              </ul>
            </li>
          </ul>

        </div>


      </div>
      <button class="button button-border button-circle t500 noleftmargin topmargin-sm" routerLink="/kariera" routerLinkActive="active">Powrót</button>
    </div>
  </div>

  <!-- PARALLAX -->
  <div class="inf-parallax section parallax dark notopmargin nobottommargin" data-stellar-background-ratio="0.4"></div>
  <!-- END PARALLAX -->
</section>
