<section id="content" style="margin-bottom: 0px;">
  <!-- STREFA -->
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="product_content nobottommargin clearfix">
        <a class="anchor-product-page" id="kariera"></a>

        <div class="no-gap work-needs" > <strong>KWALIFIKACJE KANDYDATA:</strong></div>
        <div class="offer-rich-text w-richtext" align="left">
          <ul>
            <li>Posługuje się biegle językiem angielskim (w mowie i piśmie).</li>
            <li>Ukończył studia podyplomowe.</li>
            <li>Posiada co najmniej trzy lata pracy w programowaniu w środowisku IBM mainframe z / OS i środowisku operacyjnym CICS używając TSO, ISPF, COBOL dla z / OS, CICS COBOL, JCL i innych programach narzędziowych. </li>
            <li>Posiada co najmniej trzy lata doświadczeń w programowaniu COBOL z / OS i CICS COBOL w przetwarzaniu IBM VSAM i plików sekwencyjnych zdolnych do utrzymania struktury plików VSAM. </li>
            <li>Posiada co najmniej trzy lata doświadczeń w przygotowywaniu JCL do kompilacji, łączenia i wykonywania programów COBOL z / OS, Sort i innych narzędzi IBM Utilities.
            <li>Posiada co najmniej trzy lata doświadczeń w programowaniu przy użyciu programu DB2 / SQL w programach COBOL for z / OS i CICS COBOL. </li>
            <li>Posiada umiejetność użycia Edytora ISPF do pisania i konserwacji programów i JCL;</li>
            <li>Posiada umiejetność kodowania makra BMS i różnych parametrów makra w celu zdefiniowania wszystkich elementów mapy i ich charakterystyk oraz zmontowania zakodowanego źródła w fizycznym i symbolicznym układzie mapy dla programu aplikacyjnego.</li>
            <li>Posiada umiejętność obsługi kompilacji pracy przy użyciu JES2 i analizy wyników kompilacji przy użyciu urządzeń SDSF;</li>
            <li>Posiada umiejetność  debugowania JCL i programów napisanych w języku COBOL dla z / OS i CICS COBOL.</li>
            <li>Posiada umiejętność korzystania z ISPF i JCL oraz programów do przygotowywania danych testowych i zbiorów danych testowych.</li>
            <li>Posiada umiejętność przeprowadzania testów jednostkowych, modułowych, funkcjonalnych i objętościowych; do analizy wyników badań i podjęcia działań korygujących.</li>
          </ul>


        </div>
        <div class="work-needs"> <strong>CHARAKTERYSTYKA PRACY</strong></div>
        <div class="offer-rich-text w-richtext" align="left">
          <ul>
            <li>Przygotowanie dokumentacji, wsparcie wdrożeniowe.</li>
            <li>Przygotowanie projektów funkcjonalnych i projektów technicznych.</li>
            <li>Przygotowanie JCL do załadowania tabeli ;Zestaw narzędzi DB2 lub plików VSAM z wyodrębnionymi danymi testowymi.</li>
            <li>Przygotowanie i prowadzenie dokumentacji programowej i systemowej .</li>
            <li>Wspomaganie w tworzeniu struktur plików i wymagań logiki przetwarzania.</li>
            <li>Rozwiązywanie problemów i wspieranie użytkowników końcowych we wdrażaniu i konserwacji systemów aplikacji.</li>
            <li>Szkolenie innych programistów w zakresie odpowiednich umiejętności.</li>
            <li>Podejmowanie wszelkich innych zadań związanych z rozwojem i utrzymaniem systemu, które mogą być przypisane przez organy nadzoru.</li>
            <li>Opracowywanie i wykonywanie testów (jednostkowych, integracyjnych i systemowych) rozwijanego oprogramowania.</li>
            <li>Nadzór prac mniej doświadczonych członków zespołu i dzielenie się z nimi wiedzą.</li>
          </ul>

        </div>
        <div class="work-offert"><strong>OFERUJEMY</strong></div>
        <div class="offer-rich-text w-richtext" align="left">
          <ul>
            <li>Pracę w renomowanej firmie przy realizacji ambitnych projektów dla wiodących klientów zagranicznych.</li>
            <li>Wysokie wynagrodzenie.</li>
            <li>Zagwarantowany bezpłatny przelot.</li>
            <li>Zakwaterowanie. </li>
            <li>Szerokie możliwości rozwoju zawodowego w międzynarodowej firmie.</li>
            <li>Szkolenia i programy rozwojowe oraz możliwość zdobycia certyfikatów.</li>
            <li>Udział w projektach wysokim stopniu dojrzałości procesów wytwarzania oprogramowania oraz zarządzania na poziomach operacyjnym i strategicznym.</li>
            <li>Imprezy integracyjne .</li>
            <li>Doskonałą atmosferę pracy.</li>
            <li>Bogaty pakiet socjalny, w tym :
              <ul>
                <li>Prywatna opiekę medyczną</li>
                <li>Karnety sportowe </li>
              </ul>
            </li>
          </ul>

        </div>

        <div class="work-needs">Prosimy o dołączenie klauzuli:</div>
        <p class="law-paragraph"><i>"Wyrażam zgodę na przetwarzanie moich danych osobowych dla potrzeb niezbędnych do realizacji procesu rekrutacji (zgodnie z Ustawą z dnia 29.08.1997 roku o Ochronie Danych Osobowych; tekst jednolity: Dz. U. 2016 r. poz. 922)."</i></p>
      </div>
      <button class="button button-border button-circle t500 noleftmargin topmargin-sm" routerLink="/kariera" routerLinkActive="active">Powrót</button>
    </div>
  </div>

  <!-- PARALLAX -->
  <div class="inf-parallax section parallax dark notopmargin nobottommargin" data-stellar-background-ratio="0.4"></div>
  <!-- END PARALLAX -->
</section>
