<div #polskieradio style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section id="ppr-sec" class="container">
  <div class="d-block">
    <div class="title">
      <h1>Radio</h1>
    </div>
    <div class="text-center">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
  <div class="parallax ppr-parallax" data-stellar-background-ratio="0.4"><p style="transform: translate(0, 500%);">Tu będzie zdjęcie</p></div>
</section>
<div #aviko style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section id="aviko-sec" class="container next">
  <div class="d-block">
    <div class="title">
      <h1>Soft</h1>
    </div>
    <div class="text-center">
      <p>
        Tu znajdzie się jakiś opis.
      </p>
    </div>
  </div>
  <div class="parallax avico-parallax" data-stellar-background-ratio="0.4"><p style="transform: translate(0, 500%);">Tu będzie zdjęcie</p></div>
</section>
<div #polandspec style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section id="ps-sec" class="container next">
  <div class="d-block">
    <div class="title">
      <h1>Pol</h1>
    </div>
    <div class="text-center">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
  <div class="parallax ps-parallax" data-stellar-background-ratio="0.4"><p style="transform: translate(0, 500%);">Tu będzie zdjęcie</p></div>
</section>
