<div #polskieradio style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section class="container">
  <div class="d-block">
    <div class="title">
      <h1>Player Polskie Radio</h1>
    </div>
    <div class="text-center">
      <p>
        To jedna z najbardziej popularnych aplikacji radiowych wśród Polaków.
        Została ponownie wydana w 2017 roku.
        Polskie Radio jest pierwszym medium w Polsce, które rozpoczęło używać mechanizmy internetu rzeczy do popularyzacji fal radiowych.
        Aplikacja masowo instalowana na urządzeniach mobilnych w Polsce i na Świecie.
      </p>
    </div>
  </div>
  <div class="parallax" data-stellar-background-ratio="0.4"><p style="transform: translate(0, 500%);">Tu będzie zdjęcie</p></div>
</section>
<div #aviko style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section class="container next">
  <div class="d-block">
    <div class="title">
      <h1>Aviko</h1>
    </div>
    <div class="text-center">
      <p>
        Tu znajdzie się jakiś opis.
      </p>
    </div>
  </div>
  <div class="parallax" data-stellar-background-ratio="0.4"><p style="transform: translate(0, 500%);">Tu będzie zdjęcie</p></div>
</section>
<div #polandspec style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section class="container next">
  <div class="d-block">
    <div class="title">
      <h1>Poland Specialist</h1>
    </div>
    <div class="text-center">
      <p>
        Aplikacja Poland Specialist jest dedykowanym rozwiązaniem dla operatorów turystycznych z Chin i Indii.
        Została wydana w 5 językach w tym w mandaryńskim.
        Jest to rodzaj platformy e-learningowej z elementami grywalizacji.
        Aplikacja wyposażona w mechanizm rozszerzonej rzeczywistości z wkorzystaniem elementów 3D.
      </p>
    </div>
  </div>
  <div class="parallax" data-stellar-background-ratio="0.4"><p style="transform: translate(0, 500%);">Tu będzie zdjęcie</p></div>
</section>
