<section id="content" style="margin-bottom: 0px;">
  <!-- STREFA -->
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="product_content nobottommargin clearfix">
        <a class="anchor-product-page" id="kariera"></a>
        <div class="main">
          <h1>Dołącz do zespołu Yoberi</h1>

          <p align="justify">Poszukujemy osoby, która dołączy do zespołu programistów MAINFRAME w Singapurze.</p>
          <p align="justify">Aplikacje prosimy wysyłać na adres <a id="mail" href="mailto:rekrutacja@yoberi.com">rekrutacja@yoberi.com</a> w tytlue prosimy wpisać "Programista Mainframe" </p>
        </div>
        <div style="max-width: 100%">
          <a routerLink="/praca" routerLinkActive="active" button class="button button-border button-circle t500 noleftmargin topmargin-sm"><strong>PROGRAMISTA MAINFRAME</strong></a>
          <p> </p>
        </div>
      </div>
    </div>

    <!-- PARALLAX -->
    <div class="inf-parallax parallax" data-stellar-background-ratio="0.4"></div>
    <!-- END PARALLAX -->
  </div>
</section>
