<section id="content" style="margin-bottom: 0px;">
  <!-- STREFA -->
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="product_content nobottommargin clearfix">
        <a class="anchor-product-page" id="kariera"></a>
        <div class="main">
          <h1>LOREM IPSUM</h1>

          <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p align="justify">Lorem <a id="mail" href="mailto:cos@cos.com">cos@cos.com</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div style="max-width: 100%">
          <a routerLink="/praca" routerLinkActive="active" button class="button button-border button-circle t500 noleftmargin topmargin-sm"><strong>LOREM <br> IPSUM</strong></a>
          <p> </p>
        </div>
      </div>
    </div>

    <!-- PARALLAX -->
    <div class="inf-parallax parallax" data-stellar-background-ratio="0.4"></div>
    <!-- END PARALLAX -->
  </div>
</section>
