<div #chilaby style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section id="chilaby-sec" class="container">
  <div class="d-block">
    <div class="title">
      <h1>Chil</h1>
    </div>
    <div class="text-center">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
  <div class="d-block">
    <div class="title">
      <h2>Opaska</h2>
    </div>
    <div class="text-center">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
  <div class="band-parallax parallax" data-stellar-background-ratio="0.4"></div>
</section>
<div #pinparking style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section id="pin-sec" class="container next">
  <div class="d-block">
    <div class="title">
      <h1>Pin</h1>
    </div>
    <div class="text-center">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
  <div class="parallax pin-parallax" data-stellar-background-ratio="0.4"><p style="transform: translate(0, 500%);">Tu będzie zdjęcie</p></div>
</section>
<div #isensor style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section id="isen-sec" class="container next">
  <div class="d-block">
    <div class="title">
      <h1>Sensor</h1>
    </div>
    <div class="text-center">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
  <div class="parallax isen-parallax" data-stellar-background-ratio="0.4"><p style="transform: translate(0, 500%);">Tu będzie zdjęcie</p></div>
</section>
