<div #chilaby style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section class="container">
  <div class="d-block">
    <div class="title">
      <h1>Chilaby</h1>
    </div>
    <div class="text-center">
      <p>
        Chilaby to system elektronicznych opiekunów dzieci, podnoszących bezpieczeństwo przebywania dzieci w zatłoczonych miejscach publicznych. takich jak plaże, galerie handlowe, muzea, parki rozrywki czy place zabaw. Może być skutecznie wykorzystane przez organizatorów imprez masowych.
        Jeśli opiekun utraci kontakt z dzieckiem, wówczas przy pomocy serwisu chilaby.com lub za pomocą dedykowanej aplikacji mobilnej można sprawdzić, gdzie dziecko znajduje się wewnątrz Bezpiecznej Strefy.
        Jeśli zagubione dziecko trafi do obsługi Bezpiecznej Strefy, wówczas można zlokalizować opiekuna i natychmiast się z nim skontaktować. Chilaby pomaga szybko odnaleźć opiekunów i ich dzieci, gdy stracą siebie z oczu.
      </p>
    </div>
  </div>
  <div class="d-block">
    <div class="title">
      <h2>Opaska</h2>
    </div>
    <div class="text-center">
      <p>
        Opaska Chilaby to niewielkie elektroniczne urządzenie nakładane dziecku na rękę. Przy pomocy mobilnej aplikacji możliwe jest wyzwolenie alarmu oddalenia się dziecka od smartfona. Poza zasięgiem smartfona możliwe jest lokalizowanie we wszystkich bezpiecznych strefach Chilaby.
      </p>
    </div>
  </div>
  <div class="band-parallax parallax" data-stellar-background-ratio="0.4"></div>
</section>
<div #pinparking style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section class="container next">
  <div class="d-block">
    <div class="title">
      <h1>Pin Parking</h1>
    </div>
    <div class="text-center">
      <p>
        System parkingowy korzystający z niewielkich sensorów, montowany na powierzchni jezdni. Jego zadaniem jest wykrycie parkującego pojazdu. System pozwala na utworzenie komunikacji
        z smartfonemkierowcy pojazdu. Piny do komunikacji wykorzystują pasmo LoRa, BLE, NB-IoT.
      </p>
    </div>
  </div>
  <div class="parallax" data-stellar-background-ratio="0.4"><p style="transform: translate(0, 500%);">Tu będzie zdjęcie</p></div>
</section>
<div #isensor style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section class="container next">
  <div class="d-block">
    <div class="title">
      <h1>iSensor</h1>
    </div>
    <div class="text-center">
      <p>
        Platforma informatyczna, która pozwala doskonale zarządzać danymi zebranymi z sensorów lub urządzeń pomiarowych.
        Narzędzia i funkcje platformy są stale tworzone i przystosowane do pracy z środowiskami odbiorców danych.
        Dzięki zastosowaniu Chmury lub API można bardzo szybko przenosić zbiory danych do innych systemów.
      </p>
    </div>
  </div>
  <div class="parallax" data-stellar-background-ratio="0.4"><p style="transform: translate(0, 500%);">Tu będzie zdjęcie</p></div>
</section>
