<section id="wild-sec" class="container">
  <div class="d-block">
    <div class="title">
      <h1>Wild</h1>
    </div>
    <div class="text-center">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
  <div class="wild-parallax parallax" data-stellar-background-ratio="0.4"></div>
</section>
<div #nemo style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section id="nemo-sec" class="next container">
  <div class="d-block">
    <div class="title">
      <h1>Nemo</h1>
    </div>
    <div class="text-center">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
  <div class="nemo-parallax parallax" data-stellar-background-ratio="0.4"></div>
</section>
<div #barracuda style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section id="barra-sec" class="next container">
  <div class="d-block">
    <div class="title">
      <h1>Barracuda</h1>
    </div>
    <div class="text-center">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
  <div class="barra-parallax parallax" data-stellar-background-ratio="0.4"></div>
</section>
<div #bluetang style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section id="blue-sec" class="next container">
  <div class="d-block">
    <div class="title">
      <h1>Blue</h1>
    </div>
    <div class="text-center">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
</section>
