<section class="container">
  <div class="d-block">
    <div class="title">
      <h1>Wildfish 3.0</h1>
    </div>
    <div class="text-center">
      <p>
        Jeden z najnowocześniejszych systemów operacyjnych przeznaczonych do zarządzania urządzeniami WiFi. Dzięki innowacyjnemu podejściu Wildfish 3.0 potrafi doskonale współpracować z punktami dostępowymi dowolnych producentów. Przyjazny interfejs www sprawia, że obsługa systemu jest bardzo prosta. Wildfish 3.0 służy do prowadzenia własnej komunikacji z użytkownikami sieci WiFi. System przystosowany jest do realizacji akcji promocyjnych na urządzeniach mobilnych.      </p>
    </div>
  </div>
  <div class="wild-parallax parallax" data-stellar-background-ratio="0.4"></div>
</section>
<div #nemo style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section class="next container">
  <div class="d-block">
    <div class="title">
      <h1>Nemo y2009 Rail Wifi</h1>
    </div>
    <div class="text-center">
      <p>
        Urządzenie z grupy punktów dostępowych przeznaczone do instalacji w pojazdach szynowych. Doskonale sprawdza się wagonach poruszających się na trasach dalekobieżnych. Specjalistyczna antena wagonowa HUBER+SUHNER sprawia, że dostarczany internet spełnia najwyższe wymogi jakościowe. Specjalna konstrukcja umożliwia bardzo szybki montaż. Urządzenie posiada ultraszybki interfejs Wi-Fi, 2 modemy oraz 4 beacony (2x Eddystone, 1x ibeacon, 1x ybeacon)
      </p>
    </div>
  </div>
  <div class="nemo-parallax parallax" data-stellar-background-ratio="0.4"></div>
</section>
<div #barracuda style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section class="next container">
  <div class="d-block">
    <div class="title">
      <h1>Barracuda y4009 Bus Wifi</h1>
    </div>
    <div class="text-center">
      <p>
        Nowoczesny punkt dostępowy do szerokopasmowego internetu. Doskonale sprawdza się w pojazdach komunikacji miejskiej. Autobus, Tramwaj lub Trolejbus wyposażony w ten punkt dostępowy otrzymuje możliwość korzystania z internetu o prędkości do 300 Mbs. Urządzenie przystosowane do współpracy z IoT. Urządzenie posiada ultraszybki interfejs Wi-Fi oraz 2 modemy i 4 beacony (2x Eddystone, 1x ibeacon, 1x ybeacon)
      </p>
    </div>
  </div>
  <div class="barra-parallax parallax" data-stellar-background-ratio="0.4"></div>
</section>
<div #bluetang style="height: 110px; transform: translateY(-100%); visibility: hidden;position: absolute"></div>
<section class="next container">
  <div class="d-block">
    <div class="title">
      <h1>Blue Tang y6009 Home Wifi</h1>
    </div>
    <div class="text-center">
      <p>
        Bezprzewodowy punkt dostępowy pracujący w technologii IoT. Głównym zadaniem jest dostarczanie szybkiego internetu do urządzeń mobilnych. Niewielkie pudełko wykonane z tworzywa sztucznego montowane na ścianie, wyposażone w dwie zintegrowane anteny wewnętrzne lub zewnętrze. Całość podłączona do standardowego zasilania elektrycznego budynku. Urządzenie posiada ultraszybki interfejs Wi-Fi oraz 2 modemy i 4 beacony (2x Eddystone, 1x ibeacon, 1x ybeacon)
      </p>
    </div>
  </div>
</section>
